$cyan: hsl(179, 62%, 43%);
$tealpastel: rgb(79, 189, 186);
$brightyellow: hsl(71, 73%, 54%);
$lightgray: hsl(204, 43%, 93%);
$grayishblue: hsl(218, 22%, 67%);
$platinum05: rgb(227, 227, 225, 0.5);
$platinum: rgb(227, 227, 225);

$white: hsl(0, 0%, 100%);
$Lightgrayishviolet: hsl(270, 3%, 87%);
$Darkgrayishviolet: hsl(279, 6%, 55%);
$Verydarkviolet: hsl(278, 68%, 11%);

$Lineargradient1: hsl(249, 99%, 64%);
$Lineargradient2: hsl(278, 94%, 30%);
$red: hsl(0, 100%, 66%);